# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
sessions
tags

# Repo specific
autoload/*
!autoload/plug.vim
undodir
backup
plugged
shada
vimwiki
vimwiki_html

# Mac Specific
.DS_Store

vimwiki*
swapfiles*
